<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [3]:
name = "batman"

if name == "batman":
    print("Hello Batman!")
elif name == "Robin":
    print("Hello sidekick!")
else:
    print("Hello World")

Hello Batman!

# 2 Asking questions

In [4]:
fruits = ["Apple", "Banana", "Watermelon", "Orange"]
vegetables = ["Cucumber", "Cabbage", "Bittergourd", "Celery"]

In [8]:
"peach" in fruits

False

In [9]:
"apple" in fruits

False

In [10]:
"Banana" in fruits

True

In [11]:
"Apple" not in fruits

False

In [12]:
"Apple" in fruits and "cucumber" in vegetables

False

In [13]:
"Apple" in fruits and "Cucumber" in vegetables

True

In [14]:
"Apple" in fruits or "Cucumber" in vegetables

True

In [15]:
"Apple" in fruits or "cucumber" in vegetables

True

In [16]:
"apple" in fruits or "cucumber" in vegetables

False

In [17]:
"App" in fruits[0]

True

# 3 Remember

## 3.1 Asking Math questions

In [20]:
5 != 3

False

In [21]:
4 > 3

True

In [24]:
x = 5

x >= 2

True

# 4 Python stores information in different formats or types

In [45]:
x = 1.234

type(x)

float

In [46]:
x = 1
type(x)

int

In [34]:
x = int(1.234)


print(type(x))

<class 'int'>

In [38]:
x = 1.234        # save x as a new variable to save the changes to the change in class
y = int(x)
print(x)
print(y)

1.234
1

In [43]:
x = str(1.234)
print(x)
x += 1
print(x)

1.234

TypeError: can only concatenate str (not "int") to str

In [44]:
x = 1.234
x += 1
print(x)

2.234

# 5 Never compare floats directly

In [49]:
a = 0.1
a3 = 0.3
a * 3 == a3
print(a*3)

0.30000000000000004

In [50]:
import numpy as np           #tests if the two values are close to one another 
np.isclose(a*3,a3)

True

In [51]:
eps = 1E-10
abs((a*3)-a3) < eps

True

## 5.1 The Problem

## 5.2 A solution

# 6 Combining English and variables

In [59]:
name = input("What is your name\n")
print(f"Hello {name}")

What is your name
batman
Hello batman

In [61]:
name = input("What is your name\n")
print(f"Hello {name.upper()}!")

What is your name
batman
Hello BATMAN!

In [64]:
name = input ("what is your name\n")
age = int(input("How old are you\n"))

print(f"Hello {name}, you are {age} this year")

what is your name
batman
How old are you
12
Hello batman, you are 12 this year

## 6.1 Structure of f-strings

In [71]:
text = "Hello world!"          #align centre by 30 characters
print(f"{text:^30}")

         Hello world!

In [72]:
text = "Hello world!"
print(f"{text:^60}")

                        Hello world!

In [75]:
print(f"{text:>60}")           #align right by 60 characters

                                                Hello world!

In [78]:
print(f"{text:<60}")          #align left by 60 characters

Hello world!

In [80]:
print(f"The cube of pi is {np.pi**3:.6f}")   #round off to 6dp

The cube of pi is 31.006277

In [82]:
print(f"The cube of pi is {np.pi**3:.6e}")

The cube of pi is 3.100628e+01

# 7 Escape sequences

In [83]:
print("A\B\C")

A\B\C

In [89]:
print("A\\B\\C")

A\B\C

In [94]:
print("A\tB\tC")

A	B	C

In [93]:
year=int(input("which year are you in\n"))
sem = int(input("Which sem are you currently in?\n"))

if year == 1:
    time_in_sch = sem
else:
    time_in_sch = (year-1)*2 + sem

print(f"you\`re left with {8-time_in_sch} semesters")

which year are you in
2
Which sem are you currently in?
1
you\`re left with 5 semesters

# 8 Computers read = from Right to Left!

In [95]:
y = 40
y = y+2
print(y)

42

# 9 Shorter and Cleaner Code

In [97]:
y = 40
y = y+2
print(y)

42

In [98]:
y = 40
y += 2
print(y)

42

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

In [99]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## References

## Footnotes